/* Author: Brodey Bales
   Date: 03/09/2021
   Filename: styles.css */

/* Header */
.navcontainer{
  width:100%;
  height: 350px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("earth.jpg");
  font-family: 'Audiowide', cursive;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom: 3px solid #15202B;
}
.title{
  text-align: center;
  color: white;
  letter-spacing: 2px;
  position: relative;
  top: 75px;
  font-size: 4em;

}

.navcontainer a{
  text-decoration: none;
}
.mynav{
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: 200px;
}

.mynav ul{
  overflow: hidden;
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.mynav ul li{
  padding: 10px;
  text-align: center;
  line-height: 2.8em;
}

.mynav ul li a{
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 2em;
  color: white ;
  text-align: center;
  text-decoration: none;
}

.mynav ul li a:hover{
  color: #D8BFD8;
  border-bottom: 2px solid;
}
/* Header */

/* index.html*/
body{
  background: url("stars.jpg");
  background-position: center;
}

.card{
  margin-top: 25px;
  border-radius: 25px;
}
.biotext{
  font-size: 1.2em;
  line-height: 2em;
}
.bio{
  font-size: 1.2em;
}
.bioheader{
  font-family: 'Audiowide', cursive;
}

ul li{
  padding: 10px;
  list-style-type: none;
  line-height: 1em;
  font-size: 1.2em;
}

.hobbies li{
  padding: 15px;
  list-style-type: disc;
}
img{
  max-width: 200px;
  border-radius: 25px;
}

/* college.html */
.container2 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  text-align: center;
  padding: 1.5em 2em;
}

.classes li{
  list-style: square;
}

.box{
  background-color: white;
  padding: 15px;
  border-radius: 25px;
}

.box p{
  line-height: 2em;
  font-size: 1.2em;
}

h3{
  font-family: 'Black Ops One', cursive;
}

/* Footer */
footer{
  font-family: 'Audiowide', cursive;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  text-align: center;
  font-size: 1.4em;
  line-height: 2em;
  margin-top: 25px;
  color: white;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover{
  color: #D8BFD8;
}

.email{
  margin-right: 5px;
}
.fab{
  padding-top: 5px;
  font-size: 1.7em;
}


/* Responsive */
@media screen and (max-width:991px) {
  .bio{
    margin-left: 25px;
  }
  footer{
    display: block;
  }
}

@media screen and (max-width:575px) {
  .container2{
    display: block;
    width: 100%;
  }

  .box{
     margin-bottom: 25px;
  }
}

@media screen and (max-width:517px) {
  .mynav{
    top:125px;
  }
}
